@import url('https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic');

body {
  font-family: monospace;
  color: #717F7F;
  background-color: #E3FFFF;
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-family: 'Eczar', serif;
  text-transform: uppercase;
  color: #394040;
  font-size: 3em;
  padding: 20px;
}

p {
  padding: 10px;
  max-width: 800px;
}

#slogan {
  font-family: 'Eczar', serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5em;
}

#logo {
  background: url("../images/logos.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top left;
  height: 150px;
}

ul li {
  padding: 5px;
  margin-left: 50px;
  list-style: disc;
}
