@import url('https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic');

body {
  color: #333;
  background-color: #fff;
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-family: 'Eczar', serif;
  text-transform: uppercase;
  color: #394040;
  font-size: 3em;
  padding: 20px;
}

ul li {
  padding: 5px;
  margin-left: 50px;
  list-style: disc;
}

.logo {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.wrapper {
  border: 5px solid blue;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

div, section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
